<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../css/lesson.css" />
        
		<script src="../script/jquery-1.7.1.min.js"></script>
        <script src="../script/eventbus.js"></script>
        <script src="../script/playercontroller.js"></script>
        <script src="../script/icplayer.js"></script>
		<script src="../script/modules/libs/textparser.js"></script>        
        
        <!-- Include addons  --> 
        <script src="../script/modules/choice/presenter.js"></script>
        <link rel="stylesheet" type="text/css" href="../script/modules/choice/style.css" />
        <script src="../script/modules/text/presenter.js"></script>
        <link rel="stylesheet" type="text/css" href="../script/modules/text/style.css" />
        <script src="../script/modules/check/presenter.js"></script>
        <link rel="stylesheet" type="text/css" href="../script/modules/check/style.css" />
    </head>
    <body class="reflow">
        {{content}}
    </body>
</html>
